@mixin before_circle {
    &::before {
        position: absolute;
        top: -7px;
        left: -2px;
        content: '';
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
        z-index: -1;
    }
}

@mixin after_divider {
    &::after {
        content: '';
        display: block;
        width: 60px;
        height: 3px;
        background: $main-color;
    }
}