.promo {
    position: relative;
    min-height: 100vh;
    background: url('../img/main_bg.jpg') center (center/cover) no-repeat;
    padding: 205px 0 0 0;
    &__title {
        margin-top: 8px;
        max-width: 532px;
    }
    &__btns {
        display: flex;
        margin-top: 25px;
        width: 250px;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        font-weight: bold;
        color: #000;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
}