.sidepanel {
    position: fixed;
    top: 50%;
    left: -100px;
    transform: translateY(-50%) rotate(90deg);
    width: 338px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    &__divider {
        width: 70px;
        height: 1px;
        border: 1px solid black;
    }
    &__text {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        transform: rotate(180deg);
    }
}
